In [1]:
import pandas as pd

In [4]:
thailand = pd.read_csv('dragonboat.csv')
thailand

,# in dst.,# in filtered dst.,result,crew,boat,distance,age,gender,race no,lane,stage,all comers,comment
0,1.0,1.0,39.251,China,20,200,premier,open,275,3,grand final,NaN,NaN
1,2.0,2.0,40.330,Thailand,20,200,premier,open,275,4,grand final,NaN,NaN
2,3.0,3.0,41.047,China,20,200,premier,open,221,3,heat 1,NaN,NaN
3,4.0,4.0,41.253,Canada,20,200,premier,open,275,2,grand final,NaN,NaN
4,5.0,5.0,41.648,Thailand,20,200,premier,open,222,3,heat 2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1825,239.0,239.0,12:28.760,Hong Kong,10,2000,senior A,women,7,9,final,NaN,NaN
1826,240.0,240.0,12:47.000,Singapore,10,2000,senior A,women,7,10,final,NaN,NaN
1827,241.0,241.0,13:06.171,Spain,10,2000,premier,women,15,11,final,NaN,NaN
1828,242.0,242.0,13:06.560,Thailand,10,2000,senior A,mixed,3,5,final,NaN,NaN
1829,243.0,243.0,14:52.816,India,10,2000,premier,women,15,1,final,NaN,NaN

In [3]:
len(thailand)

1830